# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ====== 추가: VS + Qt 빌드 파일 ======
x64/
Debug/
Release/
*.pdb
*.log
*.sdf
*.ipch
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.autosave
*.pro.user
*.moc
build*/
